.TopTitle{
    margin-top: 10%;
    font-size: 35px;
    float: left;
    margin-left: 10%;
    text-shadow: 2px 2px 5px #000;
}
.TopNob{
    padding-left: 30px;
    font-size: 60px;
    font-weight: bolder;

}
.TopName{
    /*margin-top: 15%;*/
    font-size: 55px;
    /* float: left; */
    margin-left: 10%;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 5px
}
.TopView{
    margin-left: 10%;
    padding-top: 15px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #000;
}
.Topico1{
    padding-left: 55px;
    background: url('/static/img/eye.png') no-repeat;
}
.Topico2{
    padding-left: 55px;
    background: url('/static/img/star.png') no-repeat;
}
.Topico1-sm{
    padding-left: 25px;
    background: url('/static/img/eye-sm.png') no-repeat;
    font-size: 14px;
}
.Topico2-sm{
    padding-left: 25px;
    background: url('/static/img/star-sm.png') no-repeat;
    font-size: 14px;
}

.TopSay{
    color: rgba(255, 255, 255, 0.69);
    margin-left: 10%;
    padding-top: 5%;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 0.5px #000;
}
.TopOther{
    margin-left: 10%;
    margin-top: 10px;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 0.5px #000;
}
.TopImg{
    display: inline-block;
    border:1px solid #ffffff;
}

.TopBackground {
    background: url('/static/img/{{ item.background }}') no-repeat;
    background-size: cover;
}